POC.WPF/Service References/FilaDebitoService/FilaDebito2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59865/Services/FilaDebito/FilaDebito.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/POC.WCF.Models" />
  <xs:element name="Dispatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/POC.WCF.Models" minOccurs="0" name="cmd" nillable="true" type="q1:DebitarPrestacaoCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/POC.WCF.Models" minOccurs="0" name="DispatchResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/POC.WCF.Models" minOccurs="0" name="res" nillable="true" type="q3:DebitarPrestacaoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/POC.WCF.Models" minOccurs="0" name="ListenerResult" nillable="true" type="q4:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>