POC.WPF/Service References/FilaDebitoService/FilaDebito1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/POC.WCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POC.WCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DebitarPrestacaoCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="SequencialOperacao" type="xs:int" />
      <xs:element minOccurs="0" name="SequencialPrestacao" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebitarPrestacaoCommand" nillable="true" type="tns:DebitarPrestacaoCommand" />
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Erro" nillable="true" type="tns:Erro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
  <xs:complexType name="Erro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Erro" nillable="true" type="tns:Erro" />
  <xs:complexType name="DebitarPrestacaoResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Erro" nillable="true" type="tns:Erro" />
      <xs:element minOccurs="0" name="NSU" type="xs:int" />
      <xs:element minOccurs="0" name="SequencialPrestacao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebitarPrestacaoResult" nillable="true" type="tns:DebitarPrestacaoResult" />
</xs:schema>