POC.FRM/Service References/FilaDebitoService/FilaDebito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/POC.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POC.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Erro" nillable="true" type="tns:Erro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
  <xs:complexType name="Erro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Erro" nillable="true" type="tns:Erro" />
</xs:schema>